.hidden{
    display: none;
}

button {
    border-radius: 6px;
    margin: 4px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}

.container {
    display: flex;
    justify-content: center;
    height: 400px;  
}

.intro {
    width: 400px;
    height: 400px;
    text-align: center;
}

.container2 {
    display: flex;
    flex-direction: column;
}

.container2 h3 {
    width: 400px;

}

.container2 div {
    height: 150px;
    
}

.buttonDiv {
    display: flex;
    flex-direction: column;
}

.buttonDiv button {
    height: 50px;
    width: fit-content;
}





